*{ margin: 0; padding: 0; }
body, html {
    font-family: $noto-regular; 
    font-size: $fs14;
    box-sizing: border-box;
    background-color: $bg_lightgray;
}
h1,h2,h3,h4,h5,h6,input,a,p,span,div{
    font-family: $noto-light; 
    font-size: $fs14;
    line-height: 1.5;
}
a { 
    text-decoration: none;
    color: $black;
}
li {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    background-color: initial;
    cursor: pointer;
}
input,textarea,button {
    font-family: $noto-light;
    &:focus {
        outline: none;
        border: 0;
    }
}