// Custum font-size 
$fs12: 12px; 
$fs14: 14px; 
$fs16: 16px; 
$fs18: 18px; 
$fs20: 20px; 
$fs22: 22px; 
$fs24: 24px; 
$fs28: 28px; 
$fs33: 33px; 
$fs36: 36px; 
$fs44: 44px; 
$fs74: 74px; 
$fs85: 85px;
$fs96: 96px;
$fs116: 116px; 
$fs148: 148px; 

//Custum font-weight
$fw100: 100; 
$fw300: 300;
$fw500: 500; 
$fw800: 800; 
$fw900: 900; 

// Custom line-height
$lineH: 1;

// Custom layout
$width: 1700px;

// font - NotoSans
$noto-bold : 'NotoSans-Bold'; 
$noto-medium : 'NotoSans-Medium'; 
$noto-regular : 'NotoSans-Regular'; 
$noto-light : 'NotoSans-Light';
$noto-thin : 'NotoSans-Thin';

// font - poppins
$popins-extra-b : 'Poppins-ExtraBold';
$popins-extra-l : 'Poppins-ExtraLight'; 
$popins-bold : 'Poppins-Bold'; 
$popins-light : 'Poppins-Light'; 
$popins-medium : 'Poppins-Medium'; 
$popins-regular : 'Poppins-Regular'; 
$popins-semi-bold : 'Poppins-SemiBold'; 
$popins-thin : 'Poppins-Thin'; 

 
// Custom color
$black: #000; 
$white: #fff; 
$lightgray:  #E6E6E6;
$yellow: #FFC500;

$bg_lightgray: #F0F0F0;

$border_color: #DDDDDD;

$f_lightgray_9: #999999;
$f_lightgray_7: #777777;
$f_lightgray_6: #666666;

$b_lightgray_ed:#EDEDED;
$b_lightgray_f2: #F2F2F2;