

.button{ 
    width: 81px;
    height: 44px;
    border-radius: 4px;
    background-color: $yellow;
    font-family: $noto-medium; 
    button {
        cursor: pointer;
    }
    
} 
.bg {
    &-yellow {  
        width: 81px;
        height: 44px;
        border-radius: 4px;
        background-color: $yellow !important;
        font-family: $noto-medium; 
    }
    &-white {
        width: 81px;
        height: 44px;
        border-radius: 4px;
        background-color: $white !important;
        font-family: $noto-medium; 
        border: 1px solid $lightgray !important;
    }
}
