.list{
    &_wrap {
        width: 350px;
      }
    &_title {    
        width: 100%;
        height: 58px;
        background-color: $white;
        border-bottom: 1px solid $b_lightgray_ed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        span {
            font-size: $fs18;
            font-family: $noto-bold;
        } 
    }
    &_btn {
        display: flex;
        &_left,
        &_right {
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            border: 1px solid $b_lightgray_f2;
            img {
                width: 6px;
            }
        }
    }
    &_content {
        background-color: $white;
    }
    &_ul {
        li { 
            padding: 20px 20px 0 20px;
            height: 90px;
            box-sizing: border-box;
            &:last-of-type {
                padding: 20px;
                height: 110px; 
            }
            p {
                font-size: $fs14;
                color: $black; 
            }
            span {
                display: block;
                margin-top: 5px;
                color: $f_lightgray_9;
            }
        }
    }
}
:global {
    .swiper-button-disabled {
        img {
            opacity: 0.3;
        }
    }
}