.detailComment{
    background-color: $white;
    &_header{
        position: relative;
        padding: 16px 20px;
        p{
            font: {
                size : $fs16;
                family: $noto-medium;
            }
            color: #222;
        }
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #F2F2F2;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &_write {
        position: relative;
        padding: 16px 18px;
        display: flex;
        gap: 20px;
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #F2F2F2;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &_thumb {
            width: 30px;
            height: 30px;
            border: 1px solid $bg_lightgray;
            border-radius: 5px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &_comment {
            width: 100%;
            textarea {
                font-size: 15px;
                color: #aaa;
                width: 100%;
                min-height: 68px;
                resize: none;
                background-color: #f7f7f7;
                border: 1px solid #e6e6e6 !important;
                outline: 1px solid #e6e6e6 !important;
                border-radius: 6px;
                padding: 12px 16px;
                box-sizing: border-box;
            }
            &_button{
                text-align: right;
                margin-top: 14px;
                button {
                    color: #BBBBBB;
                    font: {
                        size : 15px;
                        family: $noto-medium;
                    }
                }
            }
        }
    }
    &_comment{
        &_list{
            display: flex;
            flex-direction: column;
            & > div {
                display: flex;
                gap: 12px;
                padding: 14px 18px;
            }
            &_thumb{
                width: 32px;
                height: 32px;
                img{
                    width: 100%;
                }
            }
            &_item {
                width: 100%;
                &_wrap {
                    display: flex;flex-direction: column;
                    & > textarea {
                        margin: 5px 0;
                        font-size: 12px;
                        color: $black;
                        width: 100%;
                        min-height: 57px;
                        resize: none;
                        background-color: $white;
                        border: 1px solid #e6e6e6 !important;
                        outline: 1px solid #e6e6e6 !important;
                        border-radius: 6px;
                        padding: 8px 10px;
                        box-sizing: border-box;
                    }
                }
                &_head {
                    margin-bottom: 6px;
                    display: flex;
                    justify-content: space-between;
                    & > div {
                        display: flex;
                        gap: 8px;
                        button {
                            color: #999;
                        }
                    }
                    font: {
                        size: 13px;
                    };
                    p{
                        color: #999;
                    }
                    &_name{
                        color: #666;
                        &::after{
                            content: '';
                            display: inline-block;
                            margin: 4px 6px;
                            width: 2px;
                            height: 2px;
                            background-color: #999;
                            border-radius: 50%;
                        }
                        
                    }
                }
                &_content{
                    color: #222;
                    margin-bottom: 10px;
                    font : {
                        size: $fs16;
                        family: $noto-medium;
                    }
                }
                &_bottom {
                    display: flex;
                    gap: 16px;
                    &_time {
                        color: #999;
                        font-size: 13px;
                    }
                    button {
                        font: {
                            family: $noto-medium;
                            size: 13px;
                        }
                        color: #666;
                    }
                }
            }
            &_sub{
                &_item{
                    display: flex;
                    gap: 12px;
                    padding: 14px 54px;
                }
            }
        }
    }
}