
.datailheader {
  &_wrap {
    position: relative;
    background-color: $white;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid $b_lightgray_ed;
    div {
      span {
        display: inline-block;
        text-indent: -9999px;
      }
    }
  }
  &_left {
    span {
      position: relative;
      display: inline-block;
      &::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        background: url('/images/content/detail/back_icon.png') no-repeat;
        background-size: 100%;
      }
    }
  } 
  &_right {   
    // position: relative;
    // width: 35px;
    // display: flex;
    // justify-content: space-between; 
    span {
      pointer-events: none;
    }
   >button { 
    position: relative;
    width: 35px;
    :global {
      .icon_favorite { 
        &::after { 
          position: absolute;
          content: '';
          width: 18px;
          height: 22px; 
          background: url('/images/content/detail/favorite_icon.png') no-repeat;
          background-size: 100%; 
          right: 0;
          top: 0;
        }  
        &_yellow_2 {
          &::after { 
            position: absolute;
            content: '';
            width: 18px;
            height: 22px; 
            background: url('/images/content/list/favorite_yellow_2.png') no-repeat;
            background-size: 100%; 
            right: 0;
            top: 0;
          } 
        }
      } 
    }
    :global {
      .icon_more {
        &::after { 
          position: absolute;
          content: '';
          width: 18px;
          height: 22px; 
          background: url('/images/content/detail/more_icon.png') no-repeat;
          background-size: 100%; 
          right: 0;
        } 
      }
    }
   }
  }
  &_select {
    position: absolute; 
    top: 70px;
    right: 10px;
    background-color:rgb(240 240 240);
    border-radius: 5px;
    padding: 20px;
    width: 50px;
    li {
      button {
        font-family: $noto-medium;
        color: $f_lightgray_6;
        font-size: $fs12;
      }
    }
  }
}