.profileMain{
  &_wrap{
    min-height: 360px;
    background-color: $white;
    // border-radius: 10px 10px 0 0;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  &_header{
    &_wrap{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 24px;
      border-bottom: 1px solid #EDEDED;
      span {
        font: {
          size: $fs18;
          family: $noto-bold;
        }
      }
    }
    &_more {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url('/re-blog/images/common/menu.svg') no-repeat center / contain;
    }
  }
  &_contents {
    &_wrap {
      padding: 44px 70px 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 19px;
      img {
        width: 81px;
        height: 81px;
        border-radius: 20px;
      }
      pre {
        text-align: center;
      }
    }
    &_text{
      text-align: center;
      &_title{
        display: block;
        margin-bottom: 7px;
        font: {
          size: $fs18;
          family: $noto-bold;
        }
      }
      &_desc{
        display: block;
        font-size: $fs12;
        color: #A6A6A6;
      }
    }
    &_button {
      font-size: $fs14;
      color: #32A9FF;
    }
  }
}