.profileList {
  &_wrap {
    margin-top: 10px;
    height: 700px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    } 
    &_active {
      height: 720px;
    }
  }
  &_ul {
    display: flex;
    flex-direction: column; 
    li {
      border-bottom: 1px solid $b_lightgray_ed;
      background-color: $white; 
    }
  }  
  &_write {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    div {
      display: flex;
      align-items: center;
      > span {
        position: relative;
        font-size: $fs16;
        display: inline-block; 
        margin-left: 10px; 
        font-family: $noto-medium;
        color: $f_lightgray_9;
        &:last-child {
          margin-left: 15px;
          color: $f_lightgray_9;
          font-family: $noto-light; 
        }
      }
    }
    img {
      width: 30px;
      border: 1px solid $b_lightgray_ed;
      border-radius: 10px;
    }  
  }
  &_label {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    div {
      &:first-child { 
        margin-right: 20px;
      }
      button {
        padding-block: 1px;
        padding-inline: 6px;
        &:first-child {
        span {
          font-family: $noto-medium;
          font-size: $fs18;
          margin-bottom: 10px;
         }
        }
        &:last-child {
          span {
            font-size: $fs16;
            line-height: 1.2;
            color: $f_lightgray_9;
          }
        }
       span{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap:break-word; 
        line-height: 1.2em;
       }
      }
    }
  }
  &_sympathy {
    display: flex;
    justify-content: space-between;
    padding: 0 20px; 
    margin: 20px 0;
    &_left {
      display: flex;
      button {
        display: flex;
        align-items: center;
        border: 1px solid #EBEBEB;
        padding: 8px 10px 8px 8px;
        border-radius: 5px;
        i {
          pointer-events: none;
        }
        span { 
          pointer-events: none;
          color: $f_lightgray_9;
        }
        &:first-child {
          :global {
            .icon_heart { 
              background: url('/images/content/list/heart.png') no-repeat;
              background-size: contain;
              width: 20px;
              height: 15px;
              margin-right: 8px;
              display: inline-block;
              &_full { 
                background: url('/images/content/list/heart_full.png') no-repeat;
                background-size: contain;
                width: 20px;
                height: 15px;
                margin-right: 8px;
                display: inline-block;
              }
            } 
          }
        }
        &:last-child {
          margin-left: 10px;
          :global {
            .icon { 
              background: url('/images/content/list/comment.png') no-repeat;
              background-size: contain;
              width: 20px;
              height: 15px;
              margin-right: 8px;
              display: inline-block;
            }
          }
        } 
      }
    }
    &_right {
      button {  
        background: #f7f4eb;
        border: 1px solid #EBEBEB;
        padding: 6px 15px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        i {
          pointer-events: none;
        }
        span {
          display: inline-block;
          text-indent: -9999px;
        }
        :global {
          .icon_favorite { 
            background: url('/images/content/list/favorite.png') no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px; 
            display: inline-block;
            &_yellow {
              background: url('/images/content/list/favorite_yellow.png') no-repeat;
              background-size: contain;
              width: 20px;
              height: 20px; 
              display: inline-block;
            }
          } 
        }
      } 
    }
    &_img { 
      flex: 0 1 35%; 
      width: 83px;
      height: 83px;
      overflow: hidden;
      border-radius: 10px;
      border: 1px solid #EBEBEB;
      text-align: center ;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}