.write {
  &_wrap {
    margin-top: 10px;
    position: relative;
    height: 175px;
    background-color: $white;
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    button { 
      i {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: $black;
        border-radius: 50%;
        color: $white;
        font-size: $fs24;
      }
      span {
        display: inline-block;
        margin-left: 20px;
        font-size: $fs18;
        font-family: $noto-medium;
      }
    }
  }
}