.writePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: #000000CC;
  z-index: 9999;
  &_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: auto;
    background-color: $white; 
  }
  &_header{
    height: 56px;
    font: {
      size: $fs18;
      weight: $fw800;
    }
    border-bottom: 1px solid $border_color;
    &_wrap{
      position: relative;
      text-align: center;
      padding: 16px 0;
      span {
        font-family: $noto-bold;
      }
      button {
        position: absolute;
        right: 15px;
        span {
          display: inline-block;
          text-indent: -9999px; 
        }
        :global{
          .icon {
            display: inline-block;
            width: 24px;
            height: 24px;
            &.close {
              &::before{
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url('/re-blog/images/common/close.svg');
              }
              
            }
          }
        }
      }
    }
  }
  &_contents {
    padding: 20px;
    &_top {
      &_nav {
        >ul {
          display: flex;
          >li {
            >button{
            width: 110px;
            white-space: pre;
            font-family: $noto-regular;
             background-color: $bg_lightgray;
             padding: 5px 30px 5px 20px; 
             margin-right: 10px;
             border-radius: 5px;
             position: relative;
             font-size: $fs12;
             &::after {
               position: absolute;
               content: '';
               background: url('/re-blog/images/content/write/dropdown.png') no-repeat;
               width: 15px;
               height: 15px;
               right: 10px;
               top: 50%;
               transform: translateY(-50%);
               } 
             }
           }
         } 
        :global {
          .active {
            &::after {
              transform: rotate(-180deg) translateY(7px);
            }
          }
        }
      }
      &_sub {
        position: fixed;
        background-color: $bg_lightgray;
        width: 110px;
        margin-top: 10px;
        border-radius: 5px;
        li {
          button {
            font-family: $noto-regular;
            font-size: $fs12;
            width: 100%;
            padding: 8px 10px;
            box-sizing: border-box;
            border-bottom: 1px solid $white; 
          }
        }
      } 
    }
    &_bottom {
      display:flex;
      flex-direction: column;
      margin-top: 20px;
      input {
        // outline: none;
        border: 0;
        border-bottom: 1px solid $b_lightgray_ed;
        padding-bottom: 15px;
        font-size: $fs20;
        font-family: $noto-medium;
        &:focus {
          border-bottom: 1px solid $b_lightgray_ed;
        }
        
      }
      textarea {
        border: 0;
        margin-top: 20px;
        height: 250px;
        font-size: $fs14;
        font-family: $noto-light;
      }
    }
  }
  &_hashTag{
    padding: 0 20px;
    margin: 10px 0;
    input {
      width: 540px;
      font-family: $noto-regular;
      border-radius: 5px;
      padding: 5px 10px;
      border: 1px solid $b_lightgray_ed;
      font-size: $fs12;
      &:focus {
        border: 1px solid $b_lightgray_ed;

      }
    }
    &_list{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px;
      li {
        display: flex;
        align-items: center;
        background-color: $bg_lightgray;
        padding: 5px 5px 5px 10px;
  
        span {
          letter-spacing: -1px;
          display: inline-block;
          margin-right: 8px;
          font-size: $fs12;
          border-radius: 5px;
        }
        button {
          font-size: 10px;
          // background-color: $white;
          color: $black;
          border-radius: 5px;
          width: 15px;
          height: 15px;
          display: inline;
          line-height: 13px;
        }
      }
    }
  }
  &_img {
    ul { 
      padding: 0 20px;
      display: flex; 
      flex-wrap: wrap;
      gap: 15px;
      overflow-y: auto;
      max-height: 140px;
      &::-webkit-scrollbar {
        width: 15px;
      } 
      &::-webkit-scrollbar-thumb {
          width: 20px;
          background-color: #a7a7a75c;  
          background-clip: padding-box;
          border: 3px solid transparent; 
      }
      li {
        border: 1px solid $border_color;
        border-radius: 5px;
        position: relative;
        width: 97px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    } 
    &_button {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 20px;
      height: 20px;
      line-height: 14px;
      border-radius: 5px;
      background-color: rgb(169 169 169 / 45%);
      color: #000;
    }
  }
  &_footer{
    &_wrap{
      display: flex;
      justify-content: space-between;
      padding: 16px 19px;
    }
    &_copybutton {
      cursor: pointer;
      position: relative;
      display: inline-block;
      width: 24px;
      height: 24px;
      object-fit: cover;
      object-position: center;
      text-indent: -9999px;
      &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background:url("/re-blog/images/common/copy.svg") no-repeat;
        width: 24px;
        height: 24px;

      }
    }
    &_textbutton {
      color: $f_lightgray_9;
      font: {
        family: $noto-bold;
        size: $fs14;
      }
    }
  }
}