

.header {
    width: 970px;
    padding: 5px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 135px;
    }
    &_wrap {
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 68px;
        background-color: $white;
    }
    &_logo {
        display: flex;
        align-items: center;
        gap: 10px;
        h1 {
            a {
                display: block;
            }
        }
    } 
    &_search { 
        position: relative;
        display: inline-block;
        input[type="text"] {
            width: 530px;
            height: 47px;
            border: 1px solid $lightgray;
            border-radius: 25px;
            color: $f_lightgray_9;
            padding: 10px 10px 10px 40px;
            box-sizing: border-box;
            &:focus {
                outline: none;
            }
        }
        &::before{
            display: block;
            position: absolute;
            content: '';
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url('/images/layout/search.png') no-repeat ;
            background-size: 100%; 
        }
        &_filter {
            position: fixed;
            width: 100%; 
            height: 100%;
            background: #0000005e;
            div {
                position: relative;
            }
            &_ul {
                height: 50vh;
                overflow-y: scroll;
                width: 535px; 
                box-sizing: border-box;
                background: #fff;  
                position: absolute;
                left: 50%;
                transform: translate(-65%,-1%);
                border-radius: 20px;
                // overflow: hidden;  
                &::-webkit-scrollbar {
                    width: 15px;
                    background-color: $bg_lightgray;
                } 
                &::-webkit-scrollbar-thumb {
                    width: 20px;
                    background-color: #a7a7a75c;  
                    background-clip: padding-box;
                    border: 3px solid transparent; 
                }
                &_li {
                    padding: 20px;
                    border-top: 1px solid $b_lightgray_ed;
                    &:first-child {
                        border-top: 0;
                    }
                }
                :global {
                    .show {
                        display: block;
                    }
                    .hide {
                        display: none;
                    } 
                }
            }
            &_reblog {
                padding: 20px;
            }
            &_top {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                > span {
                  position: relative;
                  font-size: $fs16;
                  display: inline-block; 
                  margin-left: 10px; 
                  font-family: $noto-medium;
                  color: $f_lightgray_9;
                  &:last-child {
                    margin-left: 15px;
                    color: $f_lightgray_9;
                    font-family: $noto-light; 
                  }
                }
                img {
                    width: 25px;
                    height: 25px;
                    border: 1px solid $b_lightgray_ed;
                    border-radius: 5px;
                }
            }
            &_bottom {
                display: flex;
                justify-content: space-between;
                // padding: 0 20px;
                div {
                  &:first-child { 
                    margin-right: 20px;
                    flex: 1 0 60%; 
                  }
                  button {
                      display: block; 
                      &:first-child {
                        span {
                        font-family: $noto-medium;
                        font-size: $fs18;
                        margin-bottom: 10px;
                        }
                    }
                    &:last-child {
                      span {
                        font-size: $fs14; 
                        line-height: 1.5;
                        color: $f_lightgray_9; 
                        text-align: left;
                      }
                    }
                   span{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* 라인수 */
                    -webkit-box-orient: vertical;
                    word-wrap:break-word; 
                    line-height: 1.2em;
                    text-align: left;
                   }
                  }
                }
                &_img { 
                    flex: 0 1 40%; 
                    width: 75px;
                    height: 75px;
                    overflow: hidden;
                    border-radius: 5px;
                    border: 1px solid #EBEBEB;
                    text-align: center ; 
                    flex-basis: 75px;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                }
            }
        }
    }
    &_button {
        display: flex;
        gap: 15px;
    }
    &_alarm {  
        position: relative;
        width: 45px;
        height: 45px;
        border: 1px solid $yellow;
        border-radius: 50%;
        &:first-child {
            img { 
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 30px;  
            }
        } 
        &_black {
            position: relative;
            width: 45px;
            height: 45px;
            border: 1px solid #000 !important;
            border-radius: 50%;
            img {  
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 25px; 
            }
        }
        &:focus {
            border: 1px solid $yellow;
        }
    }
    &_profile {
        width: 45px; 
        height: 45px; 
        border: 1px solid $black;
        border-radius: 25px;
        box-sizing: border-box;
        overflow: hidden;
        img {  
            z-index: -1;
            width: 43px; 
        }
    }
    &_logout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 81px;
        height: 44px;
        border-radius: 4px;
        background-color: $black !important;
        color: $white;
        font-family: $noto-medium;
    }
} 